<launch>
  <arg name="model" default="$(env r2d2)" doc="model type [r2d2]"/>
  <arg name="x_pos" default="-0.3"/>
  <arg name="y_pos" default="0"/>
  <arg name="z_pos" default="0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find my_gazebo)/models/my_plaza/world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

<remap from="/cmd_vel" to="/turtle1/cmd_vel"/>
<param name="robot_description" command ="xacro --inorder '$(find maksim_r2d2)/urdf/r2d2.urdf.xacro'"/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type ="robot_state_publisher"/>
<node name="joint_state_publisher" pkg="joint_state_publisher" type ="joint_state_publisher"/>
<node name="rviz" pkg ="rviz" type ="rviz" args="-d $(find maksim_r2d2)/config/r2d2.rviz"/>
<node name="fake_r2d2_controller" pkg="r2d2_navigator" type ="fake_r2d2_controller"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>
