<launch>
  <arg name="model" default="$(env r2d2)" doc="model type [r2d2]"/>
  <param name="model" value="$(arg model)"/>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <node pkg="my_gazebo" type="r2d2_teleop_key.py" name="r2d2_teleop_keyboard"  output="screen">
  </node>
</launch>
